*{
    margin: 0;
    padding: 0;
    font-size: 35px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(images/bgpkchu.png);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.wrapper {
    height: 500px;
    width: 500px;
    padding: 15px;
    background: none;
    border-radius: 50px;
    position: absolute;
    background: rgb(235, 212, 120);
    
}
.reset-btn{
    display: block;
    left: 47%;
    top: 85%;
    position: fixed;   
    border-radius: 10px;
    background-color: rgb(235, 212, 120);
    border-radius:  10%;
}

.timer {
    margin-top: -38%;
    position: fixed;
    background: rgb(235, 212, 120);
    border-radius: 10px;
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    
}
.cards .card {
    cursor: pointer;
    position: relative;
    transform: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    
}
.card.shake {
    animation: shake 0.25s ease-in-out;
}
@keyframes shake {
   0%, 100% {
    transform: translateX(0);
   } 
   20% {
    transform: translateX(-13px);
   }
   40% {
    transform: translateX(13px);
   }
   60% {
    transform: translateX(-8px);
   }
   80% {
    transform: translateX(8px);
   }
}
.cards .card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(206, 206, 206);
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    backface-visibility: hidden;
    transition: transform 0.25s linear; 
    user-select: none;
    pointer-events: none;
    
}
.card .view span{
    color: rgb(0, 0, 0);
    font-size: 40px;
    
}
.card .back-view{
    transform: rotateY(-180deg);
    
}
.card .back-view img{
    max-width: 80px;
    border-radius: 50px; 
}
.card.flip .front-view{
    transform: rotateY(0);
}
.card.flip .back-view{
    transform: rotateY(0);
}

.counter {
    display: inline-flex;
    align-items: center;
    margin-top: -600px;
    
    
}

#matched-cards{
    background: rgb(235, 212, 120);
    border-radius: 10px;
    padding-right: 50px;
    margin-right: 50px;
}
#mismatched-cards {
    background: rgb(235, 212, 120);
    border-radius: 10px;
    padding-left: 15px;
}